* {
  padding: 0px;
  margin: 0px;
  list-style: none;
  -webkit-tap-highlight-color: transparent;
}
html,
body {
  height: 100%;
  background-color: #f7f7f7;
}
body {
  margin: 0 auto;
  overflow-x: hidden;
}
html {
  font-size: 54.6875%;
}
input,
textarea {
  font-family: Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", FontAwesome, sans-serif !important;
}
@media screen and (min-width: 320px) {
  html {
    font-size: 54.6875%;
  }
}
@media screen and (min-width: 375px) {
  html {
    font-size: 58.59375%;
  }
}
@media screen and (min-width: 414px) {
  html {
    font-size: 62.5%;
  }
}
.fontS {
  font-size: 1.2rem !important;
}
.fontM {
  font-size: 1.4rem !important;
}
.fontL {
  font-size: 1.5rem !important;
}
.fontXL {
  font-size: 1.7rem !important;
}
.fontXXL {
  font-size: 1.92rem !important;
}
.absolute {
  position: absolute !important;
}
.relative {
  position: relative !important;
}
.t-7rem {
  top: 7rem !important;
}
.t-large {
  top: 7rem !important;
}
.t-0 {
  top: 0 !important;
}
.t-tab {
  top: 4.6rem !important;
}
.b-0 {
  bottom: 0 !important;
}
.b-button {
  bottom: 5rem !important;
}
.l-0 {
  left: 0 !important;
}
.r-0 {
  right: 0 !important;
}
.p-0 {
  padding: 0px !important;
}
.p-1rem {
  padding: 1rem !important;
}
.p-1_5rem {
  padding: 1.5rem !important;
}
.p-2rem {
  padding: 2rem !important;
}
.margin-t-gap {
  margin-top: 1.5rem !important;
}
.margin-b-gap {
  margin-bottom: 1.5rem !important;
}
.border-t {
  border-top: 1px solid #f7f7f7 !important;
}
.border-b {
  border-bottom: 1px solid #f7f7f7 !important;
}
.border-l {
  border-left: 1px solid #f7f7f7 !important;
}
.border-r {
  border-right: 1px solid #f7f7f7 !important;
}
.f-white {
  color: #fff !important;
}
.f-blue {
  color: #5e97ce !important;
}
.bg-white {
  background-color: #fff !important;
}
.bg-red {
  background-color: #cc5555 !important;
}
.bg-gray {
  background-color: #f7f7f7 !important;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.inline-flex {
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hiddenDom {
  display: none !important;
}
